*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins sans-serif;
    background-color: gray;  
} 
.nav-container{
  padding: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
    position: sticky;
  width: 100%;
  background-color: rgb(102, 102, 99);
}
h1{
  font-size: 1.8rem;
  margin-left: 3.2rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 2rem;
  padding: 3rem;
}
.za-container{
border-radius: 1rem;
padding: 1rem;
}
.nav-linkS{
    display: flex;
gap: 3rem;
padding: 2rem;
list-style: none;
}
.nav-links{
text-decoration: none;
color: rgb(51, 49, 49);
}
.home-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 61, 61);
}
.home{
  display: flex;
  justify-content: space-between;
}
.dash{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link :hover{
 color: green;
}
.links{
  padding: 8rem; 
  margin-top: 8rem;
  margin-left: 50px;
}
.image-container img{
 margin-top: 10rem;
width: 90%;
height: 70%;
border-radius: 2rem;
}
.dash{
  color: rgb(34, 29, 29);
padding: 5rem;
}
.zwd-container{
  font-size: 2rem;
border-style: double;
}
  .contact{
    font-size: 3rem;
   background: rgb(65, 57, 57);
    height: 50vh;
  }
.contact-right{
    background: rgb(56, 55, 55);
}
textarea {
   width: 100%;
}
.btn{
   padding: 2rem;
}
.form{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
input{
  margin: 1rem;
  padding: 1rem;
  
}
textarea{
  margin: 1rem;
  padding: 1rem;
}
.form input{
  width: 100%;
}
.cas-container{
padding: 1rem 4rem;
}
.log-container{
  background-color: rgb(82, 69, 68);
  height: 50vh;
}
.lang-container{
 font-size: 3rem; 
 padding: 20px;
 margin: 20px;
 margin-top: 4px;
}
.content{
display: flex;
justify-content: space-between;
}
.run-container img{
  margin-top: 4rem;
  border-radius: 1rem;
}
.gin-container img{
  margin-top: 4rem;
  border-radius: 1rem;
}
.about{
 padding: 1.8rem;
  gap: 1rem;
  margin-top: 1rem;
}
.about-container{
  display: flex;
  padding: 3rem;
  gap: 4rem;
  background-color: rgb(46, 44, 44);
}
p{
  font-size: 1rem;
 margin-top: 3rem;
 color: rgb(107, 104, 104);
}

h:hover{
  color: blue;

}
.part-container img{
margin-top: 4rem;
 border-radius: 1rem;
}
.part{
  padding: 3rem;
  margin-top: 5rem;
  font-size: 20px;
text-align: center;
}
@media(max-width:852px){
  .content{
    display: flex;
    flex-direction: column;
  }
  .part-container img{
    width: 100%;
  }
}
@media(max-width:730px){
  .home{
    display: flex;
    flex-direction: column;
  }
}
@media(max-width:702px){
  .nav-linkS{
    display: none;
  }
}
@media(max-width:606px){
  .form{
   width: 100%;
  }
  .cas-container{
   width: 100%;
    }
}
